.fancybox {
  &-container {
    backdrop-filter: saturate(0.5) blur(4px)
  }
  &-bg {
    background: rgba(#6d6d6d, 0.5)
  }
  &-caption {
    background: none
    text-shadow: 0 0 4px rgba(#000, 0.1)
  }
}