#vcomment {  
  width: 100%
  p, pre code, .veditor, .status-bar, .vinput, .vinput::placeholder {
    color: #6D98BA
  }

  .vwrap {
    border: none
    border-radius: 1vw
    box-shadow: -0.2vw -0.2vw 0.4vw #f3f7fb, 0.2vw 0.2vw 0.6vw #c1d7e8
  }

  .veditor {
    border-radius: 1vw
    box-shadow: -0.05vw -0.05vw 0.1vw #f3f7fb, 0.05vw 0.05vw 0.15vw #c1d7e8,
     inset -0.05vw -0.05vw 0.1vw #f3f7fb, inset 0.05vw 0.05vw 0.15vw #c1d7e8
    padding: 1em
    color: #6D98BA
    background: #E9F1F8
    text-shadow: 0.1vw 0.1vw 0.3vw rgba(0,0,0,0.08)
    &::placeholder {
      color: #6D98BA
    }
  }

  .vicon {
    fill: #6D98BA
  }

  .vbtn {
    display: inline-flex
    border-radius: 1vw
    border: none
    box-shadow: boxShadow(0.1vw, 'light-out')
    color: #6D98BA
    &:active {
      box-shadow: boxShadow(0.1vw, 'light-inset'), boxShadow(0.1vw, 'light-out')
    }
  }

  .vimg {
    border: 2px solid #DFEBF4
    box-shadow: boxShadow(0.2vw, 'light-out')  
  }

/*   .vpreview {
    color: #6D98BA
  } */
}