<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="container">
      <header>
        <div><%= config.title %></div>
        <div><%= config.subtitle %></div>
      </header>
      <div id="content">
        <% if () { %> 
        <% } %>
      </div>
      <footer></footer>
    </div>
  </body>
</html>
