.post__paginator {
  position: relative
  width: 100%
  margin: 1em auto
}
.post__prev {
  width: 100%
  text-align: left  
  &--link {
    color: rgba(#6E99BB, 0.6)
    box-shadow: boxShadow(0.2vw, 'light-out')
    text-shadow: textShadow('light', 0.05vw, #E5EFF7, rgba(0,0,0,0.5))
    border-radius: 1vw 0.25vw 0.25vw 1vw
    height: 2vw
    padding: 0 1.5vw 0 0
    display: inline-flex
    align-items: center
    max-width: 45%
    position: relative
  }
  &--icon {
    font-size: 2vw
  }
  &--text {
    display: inline-block  
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    position: relative
  }
  &--block {
    display: inline-flex
    position: absolute
    right: 0.5vw
    top: 0.5vw
    width: 0.5vw
    height: 1vw
    border-radius: 0.25vw
    margin-left: 0.5vw
    box-shadow: boxShadow(0.1vw, 'light-inset')  
  }
}
.post__next {
  width: 100%
  text-align: right  
  &--link {
    color: rgba(#6E99BB, 0.6)
    box-shadow: boxShadow(0.2vw, 'light-out')
    text-shadow: textShadow('light', 0.05vw, #E5EFF7, rgba(0,0,0,0.5))
    border-radius: 0.25vw 1vw 1vw 0.25vw
    height: 2vw
    padding: 0 0 0 1.5vw
    display: inline-flex
    align-items: center
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    max-width: 45%
    position: relative
  }
  &--icon {
    font-size: 2vw
  }
  &--text {
    display: inline-block  
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  }
  &--block {
    display: inline-flex
    position: absolute
    left: 0.5vw
    top: 0.5vw
    width: 0.5vw
    height: 1vw
    border-radius: 0.25vw
    margin-right: 0.5vw
    box-shadow: boxShadow(0.1vw, 'light-inset')  
  }
}