.archive {
  &__collection {
    display: flex
    &--year {
      display: flex
      font-size: 2vw
      line-height: 4vw
      margin-left: 5vw
      color: $link-color
      }
    }
  &__item {
    display: flex
    justify-content: center
    &--link {
      display: flex
      color: $archive-tt-color
      transition: all .3s ease-in-out
      border-radius: 0.5vw
      &:hover {
        background: rgba(#efefef, 0.5)
        box-shadow: 0 0 4px rgba(#000, 0.1)
        .if {
          opacity 1}
      }
      }
    &--date {
      display: inline-flex
      align-items: center
      justify-content: center
      margin-right: 1em
      width: 4vw
      font-size: 1vw
      }
    &--title {
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      font-size: 1.2vw
      width: 40vw
      font-weight: normal
      }
    &--icon {
      font-size: 1vw
      margin-left: 0.5vw
      transition: all .3s ease-in-out
      opacity: 0
    }
    }
}

@media (max-width: $xs) {
  .archive {
    margin: 0 auto 0
    padding-top: 20vw
    &__collection {
      &--year {
        font-size: 6vw
        line-height: 12vw
      }
    }
    &__item {
      justify-content: flex-start;
      margin-left: 1em;
      &--link {
        padding: 0 1em
      }
      &--date {
        width: fit-content
        font-size: 4vw
      }
      &--title {
       font-size: 4vw
        width: 55vw
      }
    }
  }
}