.bottom {
    display: flex
    flex-direction: column
    align-items: flex-start
    line-height: 1.5em
    font-size: 1vw
    margin: 2vw auto 1em
    &--icp, &--theme {
      display: inline-flex
      width: 1em
      justify-content: center
    }
    &--link {
      color: #6285a5
      &:hover {
        color: $color-blue
      } 
    }
  }
