.menu {
  position: fixed
  height: 100vh
  width: 16.6667vw
  top: 0
  left: 0
  border-radius: 0 1vw 1vw 0
  // box-shadow: 2px 0 6px rgba(#000, 0.06), inset -1px 0 2px rgba(#fff, 0.6)
  display: flex
  flex-direction: column
  align-items: center;
  &__item {
    color: $menu-tt-color
    display: inline-flex
    position: relative
    height: 3vw
    width: 10vw
    margin-bottom: 0.5vw
    align-items: center
    justify-content: center;
    border-radius: 1vw
    transition: all .2s ease-in-out
    &:hover {
      box-shadow: 0 0 20px rgba(#000, 0.04)
      background: $menu-bg-color
      text-shadow: -0.1vw -0.1vw 0.2vw rgba(255,255,255,0.8),
                0.1vw 0.1vw 0.2vw rgba(0,0,0,0.1)
      .menu__icon {
        //// box-shadow: boxShadow(0.05vw, 'light-out')
      }
    }
    &:active {
      // box-shadow: boxShadow(0.1vw, 'light-inset')
      box-shadow: 0 0 20px rgba(#000, 0.04)
      background: $menu-bg-color
      text-shadow: -0.1vw -0.1vw 0.2vw rgba(255,255,255,0.8),
                0.1vw 0.1vw 0.2vw rgba(0,0,0,0.1)
      .menu__icon {
        //// box-shadow: boxShadow(0.1vw, 'light-out')
      }
    }
    &--current {
      // box-shadow: boxShadow(0.1vw, 'light-inset')
      background: $menu-bg-color
      text-shadow: -0.1vw -0.1vw 0.2vw rgba(255,255,255,0.8),
                0.1vw 0.1vw 0.2vw rgba(0,0,0,0.1)
      .menu__icon {
        //// box-shadow: boxShadow(0.1vw, 'light-out')
      }
    }
  }
  &__icon {
    display: inline-flex
    width: 1.5vw
    height: 1.5vw
    font-size: 0.75vw
    border-radius: 50%
    margin-right: 0.5vw 
    justify-content: center
    align-items: center
    transition: all .2s ease-in-out
  }
}