.menu {
  position: fixed
  height: 100vh
  width: 16.6667vw
  top: 0
  left: 0
  display: flex
  flex-direction: column
  align-items: center;
  &__avatar {
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    margin: 2em auto
    &--img {
      width: 6vw
      height: 6vw
      border-radius: 50%
      background: var(--block-bg-color)
      box-shadow: 2px 2px 2px rgba(0,0,0,0.05)
    }
    &--title {
      font-family: $title-font
      color: $color-blue-gray
      font-size: 1.6vw
      cursor: pointer
      user-select: none
      opacity 0.6
    }
    &--ru {
      color: $color-red
    }
  } 
  &__block {
    display: flex
    flex-direction: column
    padding: 5vw 1vw
    border-radius: 1vw
  }
  &__item {
    color: var(--menu-tt-color)
    display: inline-flex
    position: relative
    height: 3vw
    width: 10vw
    margin-bottom: 0.5vw
    align-items: center
    justify-content: center;
    border-radius: 1vw
    transition: all .2s ease-in-out
    &:hover {
      box-shadow: 0 0 20px rgba(#000, 0.04)
      background: var(--block-bg-color)
      //text-shadow: -0.1vw -0.1vw 0.2vw rgba(255,255,255,0.8),
      //          0.1vw 0.1vw 0.2vw rgba(0,0,0,0.1)
      .menu__icon {
        //// box-shadow: boxShadow(0.05vw, 'light-out')
      }
    }
    &:active {
      // box-shadow: boxShadow(0.1vw, 'light-inset')
      box-shadow: 0 0 20px rgba(#000, 0.04)
      background: var(--block-bg-color)
      //text-shadow: -0.1vw -0.1vw 0.2vw rgba(255,255,255,0.8),
      //          0.1vw 0.1vw 0.2vw rgba(0,0,0,0.1)
      .menu__icon {
        //// box-shadow: boxShadow(0.1vw, 'light-out')
      }
    }
    &--current {
      color: $link-color-hover
      // box-shadow: boxShadow(0.1vw, 'light-inset')
      background: var(--block-bg-color)
      //text-shadow: -0.1vw -0.1vw 0.2vw rgba(255,255,255,0.8),
      //          0.1vw 0.1vw 0.2vw rgba(0,0,0,0.1)
      .menu__icon {
        //// box-shadow: boxShadow(0.1vw, 'light-out')
      }
    }
  }
  &__icon {
    display: inline-flex
    width: 1.5vw
    height: 1.5vw
    font-size: 0.75vw
    border-radius: 50%
    margin-right: 0.5vw 
    justify-content: center
    align-items: center
  }
}

@media (max-width: $xs) {
  .menu {
    top: 5px
    left: 0
    width: 100%
    height: 56px
    flex-direction: row
    justify-content: center;
    z-index: 1
    transition: all .3s ease-in-out
    //box-shadow: 0 0 2px rgba(0,0,0,0.1)
    //background: var(--block-bg-color)
    //-webkit-backdrop-filter: blur(3px);
    //backdrop-filter: blur(3px);
    &.hide {
      //transform: translateY(-100%);
    }
    &__avatar {
      display: none
    }
    &__block {
      display: flex
      flex-direction: row
      margin: 0
      padding: 5px
      justify-content: space-evenly
      position: relative
      background: var(--menu-m-bg)
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px); 
      align-items: center
      box-shadow: 0 0 5px rgba(0,0,0,0.1)
    }
    div {
      a.menu__item {
        &--current {
          color: #fff
        }
        &:hover {
          color: #fff
        }
        &:active  {
          color: $link-color-hover
        }
      }
    }
    &__item {
      z-index 1
      width: 100px
      height: 32px
      border-radius: initial
      margin: inherit
      display: flex
      flex-direction: column
      color: $link-color-hover
      box-sizing: border-box
      position: relative
      //border-left: 1px solid var(--post-m-border)
      &::before {
        content: ''
        position: absolute
        width: 2px
        height: 16px
        border-radius: 1px
        background: var(--post-m-border)
        left: -1px
        top: 8px
      }
      &.noline {
        &::before {
          display: none
        }
      }
      &:first-child {
        &::before {
          display: none
        }
      }
      &:hover {
        box-shadow: none
        background: none
      }
      &:active {
        box-shadow: none
        background: none
      }
      &--current {
        background: none
        box-shadow: none
        &::before {
          display: none
        }
        &:nth-child(1) ~ .menu__indicator {
          left: 5px
        }
        &:nth-child(2) ~ .menu__indicator {
          left: 105px
        }
        &:nth-child(3) ~ .menu__indicator {
          left: 205px
        }
      }
    }
    &__back {
      position: absolute
      width: 100%
      height: 70px
      border-radius: 5px
      overflow hidden
      //background: var(--block-bg-color)
      //-webkit-backdrop-filter: blur(3px);
      //backdrop-filter: blur(3px);
      //transition: -webkit-mask-position 0.3s ease-in-out;
      //-webkit-mask: radial-gradient( circle at calc((100vw - 168px)/4 + 28px)  0, transparent 35px, red 0)
    }
    &__icon {
      width: inherit
      height: inherit
      margin: inherit
      line-height: 75px
      font-size: 1.5em
      transition: transform .2s ease-in-out
      color: $link-color-hover
    }
    &__name {
      position: absolute
      font-size: 0.75em
      letter-spacing: 0.05em
      transition all 0.5s ease-in-out
      //opacity 0
      //transform: translateY(20px)
      color: var(--menu-m-tt)
    }
    &__indicator {
      position: absolute
      width: 100px
      height: 32px
      background: var(--menu-m-in)
      box-shadow: 0 2px 5px rgba(0,0,0,0.1)
      //border: 5px solid #eeeeee
      //box-sizing: border-box
      //top: -50%
      border-radius: 5px
      transition: all .3s ease-in-out
      left: 5px
    }
  }
}