.post {
  border-radius:1vw 1vw 0.5vw 0.5vw
  width: calc(100% - 6vw)
  line-height: 1.65em
  margin: 3vw auto 0
  padding: 2vw 3vw
  background: $post-bg-color
  box-shadow: 0 0 10px rgba(#000, 0.08)
  &__top-img {
    width: 100%
    height: 15vw
    object-fit: cover
    border-radius: 1vw 1vw 0 0 
    position: absolute
    left: 0 
    top: 0
  }
  &__article {
    padding: 0 1vw 1vw
    position: relative
    &--top {
      padding-top: 15vw
    } 
    &--title {
      color: $post-tt-color
      line-height: 1.5em
    }
    &--gallery {
      display: flex
      flex-wrap: wrap
      }
    &--img {
      display: inline-flex
      flex: 1
      object-fit: cover
      height: 20vw
      width: 28vw
      }
  }
  &__gallery {
    &--block {
      display: flex
      flex-wrap: wrap
      }
    &--link {
      display: inline-flex
      flex: 1
      }
    &--img {
      object-fit: cover
      width: 27vw
      height: 20vw
      }
    }
  &__img {
    &--block {
      display: flex
      justify-content: center
      }
    &--img {
      max-width: 100%
      object-fit: cover
      border-radius: 0.5vw
      }
    &--title {
      display: flex
      justify-content: center
      margin-top: 0
      }
    }
  /* 代码高亮 */
  .code-badge-pre {
    overflow: auto  
    margin: 3vw 0
    padding: 0
    border-radius: 0.5vw
    position: relative
    .code-badge {
      background: rgba(#000,0)
      .code-badge-language {
        color: #dedede
        user-select: none
      }
    }
    .hljs {
      padding: 1em
      font-family: 'Menlo'
        &::-webkit-scrollbar {
          width 0.6vw
          height: 0.6vw
        }
        &::-webkit-scrollbar-thumb {
          background: #cfd7e3
          border-radius: 0.25vw
        }
      }
  }

  /*  按键 */
  kbd {
    display: inline-flex
    padding: 0 0.5em
    border-radius: 0.25em
    margin: 0 0.25em
    background: rgba($post-tt-color, 0.8)
    color: #efefef
    box-shadow: 2px 2px 5px rgba(#000, 0.2)
  }

  /*  外链视频 */
  .video-container {
    display: flex
    justify-content: center
    iframe {
      width: 54vw
      height: 30.375vw
      border-radius: 0.5vw
      box-shadow: 0 0 10px rgba(#000, 0.2)
      }
  }

  /* 表格 */
  table {
    border-spacing: 0
    border-collapse: collapse
    * {
      box-sizing: border-box
    }
    th,td {
      border: 1px solid #2c344152
      padding: 0.5em
    }
    }
  /* 引用 */
  blockquote {
    background: #efefef;
    border-radius: 1vw;
    margin: 1em 0;
    padding: 1em 2em 1em 3em;
    position relative
    &::before {
      content: '“'
      position: absolute
      left: 0
      top: 1vw
      font-size: 5em
      color: rgba($post-tt-color-hover, 0.5)
      }
    &.pullquote.right {
      text-align: right
      padding: 1em 3em 1em 2em;
      &::before {
        content: '”'
        right: 0
        }
      }
    cite {
      margin-left: 1em
      font-style: normal
      position: relative
      &::before {
        content: ''
        position: absolute
        width: 95%
        height: 0.5em
        border-radius: 0.25em
        left: -0.25em
        bottom: -0.25em
        background: rgba($color-yellow, 0.5)
      }
    }
  }
}