  .post-list {
    display: flex
    flex-direction: column
    width: calc(100% - 8vw)
    padding: 0 4vw
    margin: 3vw auto 0
    background: var(--block-bg-color)
    //box-shadow: 0 0 10px rgba(#000, 0.08)
    border-radius: 1vw
    &__item {
      //background: var(--block-bg-color)
      display flex
      flex-direction: row
      align-items: center
      margin: 1vw 0
      padding: 2vw 4vw
      //border-radius: 1vw
      position: relative
      //box-shadow: 0 0 5px rgba(#000, 0.08)
      transition: all .3s ease-in-out
      border-bottom: 1px dashed var(--post-m-border)
      &:first-child {
        margin: 0 0 1vw
      }
      &:last-child {
        border-bottom: none
      }
      &:hover {
        //background: var(--block-bg-color-hover)
        //box-shadow: 0 0 15px rgba(#000, 0.1)
      }
    }
    &__img--link {
      display: flex
      flex: 1
      width: 16vw
      height: 12vw
      margin-left: 2vw
      border-radius: 5px
      overflow hidden
      box-shadow: 0 0 10px rgba(#000, 0.2)
      }
    &__img--img {
      width: 16vw
      height: 12vw
      object-fit: cover
      position relative
      transition: transform 0.5s ease-in-out
      &:hover {
        transform: scale(1.05)
        }
    }
    &__info {
      display: flex
      flex-direction: column
      flex: 2
      height: 12vw
      justify-content: space-around
      border-radius: 1vw
    }
    &__title {
      font-size: 1.5vw
      margin: 0.5vw 0
      width: 36vw
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      &--link {
        color: var(--post-tt-color)
        &:hover {
          color: $post-tt-color-hover
          .if {
            opacity: 1
          }
        }
      }
      &--icon {
        font-size: 1em
        opacity 0
        transition: all .3s ease-in-out
      }
    }
    &__excerpt {
      color: var(--post-tt-color)
      opacity: 0.7
      line-height: 1.6
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      p {
        margin: 0.5vw 0
      }
    }
    &__bottom {
      display: flex
      flex-wrap: wrap
      margin: 0.5vw 0
      width: 100%
      align-items: center
      }
    &__date {
      display: flex;
      align-items: center;
      font-family: monospace
      opacity: 0.5
      &--icon {
        margin-right: 0.25vw
      }
    }
    &__tag, &__category {
      display: inline-flex
      margin: 0 0.2em
      color: var(--post-tt-color)
      &:hover {
        color: $post-tt-color-hover
        }
      &--icon {
        margin: 0 0.25em 0 0.5em
      }
    }
    &__link {
      position: absolute
      right: 1vw  
      bottom: 1vw
      width: 2em
      height: 2em
      border-radius: 1em
      display: flex
      justify-content: center
      align-items: center
      //background: $btn-bg-circle
      // box-shadow: boxShadow(0.1vw, 'light-out'), 
      //  inset 0 1px 2px rgba(#fff, 0.8), 
      //  inset 0 -1px 2px rgba(#000, 0.1)
      box-sizing: border-box
      //// box-shadow: 5px 5px 22px 0 #bebebe,
      //    -5px -5px 12px 0 #ffffff
      transition: all .3s ease-in-out
      &--icon {
        color: rgba(#6D94B7, 0.6)
        //text-shadow: textShadow('light', 0.05vw, rgba(#E1EFF3, 0.8), rgba(#000, 0.8))
      }
      &:active {
        background: $bg-lg-active
        // box-shadow: boxShadow(0.2vw, 'light-out'), boxShadow(0.2vw, 'light-inset')
        //// box-shadow: 5px 5px 22px 0 #bebebe,
        //    -5px -5px 12px 0 #ffffff,
        //    inset 2px 2px 6px 0 #bebebe,
        //    inset -2px -2px 6px 0 #ffffff
      }
    }
  }
  @media (max-width: $xs) {
    .post-list {
      margin: 0
      padding-top: 14vw
      box-shadow: none
      &__item {
        flex-direction: column-reverse
        //box-shadow: 0 0 2px rgba(#000, 0.1)
        border-radius: initial
        margin: 3vw 1vw
        padding: 3vw
        }
      &__img--link {
          width: 85vw
          height: 35vw
          margin: 0
          box-shadow: none
        }
      &__img--img {
          width: 85vw
          height: 35vw
        }
      &__info {
        width: 85vw
        margin: 0 auto
        }
      &__title {
        width: 100%
        font-size: 5vw
        line-height: 12vw
        }
      &__excerpt {
        font-size: 4vw
        }
      &__bottom {
        font-size: 3vw
        line-height: 8vw
        }
      &__date {
        &--icon {
          margin-right: 1vw }
        }
      }
  }