.sidebar {
  position: fixed
  right: 0
  top: 4vw
  width: calc(19vw - 2em)
  border-radius: 1vw 0 0 1vw
  display: flex
  padding: 0 1em
  flex-direction: column
  ol, ul {
    padding-left: 1em
  }
  ol {
    list-style none
  }
  /*  标签 */
  &__tag {
    display: flex
    flex-wrap: wrap
    margin-top: 3vw
    padding-left: 1em
    position: relative
    background: var(--block-bg-color)
    border-radius: 0.5vw
    box-shadow: 0 0 10px rgba(#000, 0.05)
    overflow: hidden
    &--icon {
      position: absolute
      top: 0
      right: 0
      color: $sidebar-icon-color 
      .if {
        font-size: 5vw
        }
      }
    a[class*=sidebar__tag--item] {
      display: inline-flex
      align-items: center
      padding: 0.5vw 1vw 0.5vw 0
      z-index 1
      position: relative
      &::after {
        position: absolute
        content: ''
        left: 0
        bottom: 0.5vw
        width: 80%
        height: 0.5vw
        border-radius: 0.25vw
        background: $cite-bg
        opacity: 0
        }
      &:hover {
        &::after {
          opacity: 1
          }
        }
    }
  }
  /*  分类 */
  &__category {
        display: flex
    flex-wrap: wrap
    margin-top: 1em
    padding-left: 1em
    position: relative
    background: var(--block-bg-color)
    border-radius: 0.5vw
    box-shadow: 0 0 10px rgba(#000, 0.05)
    overflow: hidden
    ol, ul, li {
      list-style none
      display: inline-flex
      flex-wrap: wrap
    }
    &--icon {
      position: absolute
      top: 0
      right: 0
      color: $sidebar-icon-color 
      .if {
        font-size: 5vw
        }
      }
    a[class*=sidebar__category--item] {
      display: inline-flex
      align-items: center
      padding: 0.5vw 1vw 0.5vw 0
      z-index 1
      position: relative
      list-style: none
      &::after {
        position: absolute
        content: ''
        left: 0
        bottom: 0.5vw
        width: 80%
        height: 0.5vw
        border-radius: 0.25vw
        background: $cite-bg
        opacity: 0
        }
      &:hover {
        &::after {
          opacity: 1
          }
        }
    }
    }
  /*  目录 */
  &__toc {
    margin-top: 3vw
    &--icon {
      transform: translateY(0.5vw)
      }
    &--list {
      .toc-list {
        overflow hidden
        transition: all .3s ease-in-out
        line-height: 1.75em
        &.is-collapsed {
          max-height 0
          }
        .toc-list-item {
          position relative
          .toc-link {
            white-space nowrap
            color: var(--post-tt-color)
            &:hover {
              color: $link-color-hover
            }
            &.is-active-link {
              color: $link-color
              &::before {
                content: ''
                position: absolute
                left: -0.8em
                top: 0.25em
                width: 0.2em
                height: 1.25em
                border-radius: 0.1em
                background: $link-color-hover
                }
              }
            }
          }  
      }
      }
    }
}

@media (max-width: $xs) {
  .sidebar {
    display: none
  }
}